/* Global styles */
* {
    /* Remove default padding and margin to avoid layout problems. */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color palette */
:root {
    /* Declare vars here! */
}

/* Styles for the main body */
body {
    height: 100vh;
}