/* Global styles */
* {
    /* Remove default padding and margin to avoid layout problems. */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color palette */
:root {
    /* Declare vars here! */
}

/* Styles for the main body */
body {
    height: 100vh;
}

/* The header of the website. */
header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: white;
    z-index: 99;
}

/* Main section of the website. */
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    /* Scrolling behavior - vertical scrolling with scroll snap. */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    section {
        height: 100vh;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

/* Formatting for each slide. */
#slide-1 {
    position: relative;
    background-color: rgb(161, 210, 255);

    img {  /* Background of slide 1. */
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(20px);
        z-index: -99;
    }

    div {
        top: 150px;
        left: 20px;
    }
}

#horizontal-carousel {
    width: 100vw;
    height: 15vw;
    /* aspect-ratio: 5 / 1; */
    border: 1px solid red;
    display: flex;
    justify-content: stretch;
    column-gap: 10px;

    img {
        object-fit: cover;  /* Prevent image stretching. */
        width: 0;
        flex-grow: 1;
    }
}

#slide-2 {
    
}

#slide-3 {
    
}